.aqua {
  color: aqua;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: #00a700;
}

#breakpoints * {
  padding: 0px;
  margin: 5px;
}
#breakpoints td {
  width: 70%;
}
